.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
}

main {
  max-width: 700px;
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
  box-sizing: border-box;
}

h1 {
  writing-mode: vertical-rl;
  font-size: 250%;
  padding-right: 3rem;
}

.backToTop,
.footer {
  display: block;
  text-align: center;
  margin: 2rem;
  padding: 2rem;
}
