/** スマホ時の縦並び切り替え */
@media screen and (max-width: 600px) {
  /** PCのみ改行 */
  .br-sp {
      display: inline;
    }
    .br-pc {
      display: none;
    }

  .header {
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    height: auto; /
  }

  h1 {
    writing-mode: horizontal-tb;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    padding-right: 0rem;
  }

  .top-block {
    align-items: center;
  }

  .nav-block {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .status0 {
    flex-direction: column;
    padding: 1rem;
  }

  #img-top,
  .nav {
    width: 90vw;
    max-width: 400px;
    margin: 0 auto 1rem auto;
  }

  .snsLinks {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    max-width: 400px;
    margin: 0;
  }

  .snsLinks img {
    width: 30px;
    height: auto;
    padding: 10px;
    margin: 0;
  }

  #dark-mode-btn {
    position: static !important;
    display: block;
    width: 50%;
    max-width: 160px;
    margin: 0.5rem 1rem 0 auto;
  }

  #site-title {
    position: static;
  }

  .jikosyoukai {
    flex-direction: column;
    width: 95%;
    max-width: 400px;
  }

  .project-row {
    grid-template-columns: 7.5em 1fr;
  }

  .project-detail summary {
    font-size: 0.95rem;
  }

  .project-title {
    font-size: 1.2rem;
  }
}
