<div class="header">
  <div id="site-title">
    <h1>Iwasaki <span style="color: red">Y</span>uka no Portfolio</h1>
  </div>

  <div class="top-block">
    <button id="dark-mode-btn">ダークモード</button>
    <img id="img-top" src="image/top_light.GIF" alt="トップ画像" />
    <div class="nav-block">
      <nav class="nav">
        <p>どれを見る？</p>
        <ul>
          <li><a href="#profile">▶プロフィール</a></li>
          <li><a href="#portfolio">▶ポートフォリオ</a></li>
          <li><a href="#mini_game">▶ミニゲーム</a></li>
        </ul>
      </nav>

      <div class="snsLinks">
        <a href="https://github.com/Iwasaki-Y0125" target="_blank" rel="noopener noreferrer">
          <img id="iconGithub" src="image/github-mark.png" alt="Githubアイコン" />
        </a>
      </div>
    </div>
  </div>
</div>
