<div class="header">
  <h1>Iwasaki <span style="color: red">Y</span>uka no Portfolio</h1>

  <div class="top-block">
    <button id="dark-mode-btn">ダークモード</button>
    <img id="img-top" src="image/top_light.GIF" alt="トップ画像" />
    <div class="nav-block">
      <nav class="nav">
        <p>どれを見る？</p>
        <ul>
          <li><a href="#profile">▶プロフィール</a></li>
          <li><a href="#portfolio">▶ポートフォリオ</a></li>
          <li><a href="#mini_game">▶ミニゲーム</a></li>
        </ul>
      </nav>

      <div class="snsLinks">
        <a href="https://x.com/iwayu0125" target="_blank">
          <img id="iconX" src="image/X_logo-black.png" alt="Xアイコン" />
        </a>
        <a href="https://github.com/Iwasaki-Y0125" target="_blank">
          <img id="iconGithub" src="image/github-mark.png" alt="Githubアイコン" />
        </a>
        <a
          href="https://note.com/iwayu0125/n/nc843eb2fd511?sub_rt=share_pw"
          target="_blank"
        >
          <img id="iconNote" src="image/note_icon.png" alt="noteアイコン" />
        </a>
      </div>
    </div>
  </div>
</div>
