<div class="portfolio">
  <section class="sectionTitle">
  <h2>ポートフォリオ</h2>
  </section>

  <div class="portfolio_article">
  <a class="OGP" href="https://torisetsu-me.onrender.com/" target="_blank">
    <img class="OGP_img" id="on_service" src="image/torisetsu_me_OGP.png" " alt="torisetsu_me_OGP"/>
    <br>わたしのトリセツ．ｍｅ/自己紹介プロフィールページ作成アプリ</a>
    <p>♦プログラミング1か月目で作成<br>
    <span style="color: red">♦Buttle of RUNTEQ 2025 新人賞受賞</span></p>
    <p>期日に間に合わせるために付け焼刃の知識とAIでなんとか作成。
      デプロイ後にバックエンド周りでエラーが頻発し地獄を見る。自分にはもっと基礎力が必要だなと反省した思い出</p>
  <a class="portfolio_link" href="https://github.com/Iwasaki-Y0125/torisetsu_me" target="_blank">わたしのトリセツ.ｍｅのＧｉｔＨｕｂ</a><br>
  <a class="portfolio_link" href="https://note.com/iwayu0125/n/nde4850a1a14a" target="_blank">わたしのトリセツ.ｍｅのｎｏｔｅ</a><br>
  </div>
  <br>
  <div class="portfolio_article">
    <div class="OGP">
    <img class="OGP_img"  src="image/end_weatherlogproto_OGP.png" " alt="weatherlogproto_OGP"/><br>
    <p>秋のお天気 ゆらぎログ　/　天気×気分記録アプリ</p>
    </div>
    <p>♦プログラミング4か月目で作成<br>
      ♦RUNTEQミニアプリウィーク2025応募</p>
    <p>背景にリラックスできる動画を用いるなどUXを向上させる工夫を実施。<br>
      当初は気象病予防アプリを企画していたが、データベース設計の理解を深める必要があると判断し、
      企画を縮小し、より実現可能な方向で応募期日に間に合わせる方向でシフト。
      理論的な学習を重ねる前向きな経験となった</p>
  <a class="portfolio_link" href="https://github.com/Iwasaki-Y0125/WeatherlogProto" target="_blank">秋のお天気 ゆらぎログのＧｉｔＨｕｂ</a><br>
  <a class="portfolio_link" href="https://note.com/iwayu0125/n/n3c4488edd41a" target="_blank">秋のお天気 ゆらぎログのｎｏｔｅ</a><br>
  </div>

  <a href="#" class="backToTop">▲ ページトップへ戻る</a>
</div>
