<div class="portfolio">
  <section class="sectionTitle">
  <h2>ポートフォリオ</h2>
  </section>

  <div class="portfolio_article">
  <a class="OGP"  href="https://torisetsu-me.onrender.com/" target="_blank">
    <img class="OGP_img"  src="image/torisetsu_me_OGP.png" " alt="torisetsu_me_OGP"/><br>わたしのトリセツ．ｍｅ/自己紹介プロフィールページ作成アプリ</a>
    <p>プログラミングはじめて一か月目で作成</p>
    <p>バトラン（スクール内のアプリコンテスト）に間に合わせるために付け焼刃の知識とAIでなんとか作成。
      デプロイ後にバックエンド周りでエラーが頻発し地獄を見る。自分にはもっと基礎力が必要だなと反省した思い出</p>
  <a class="portfolio_link" href="https://github.com/Iwasaki-Y0125/torisetsu_me" target="_blank">わたしのトリセツ.ｍｅのＧｉｔＨｕｂ</a><br>
  <a class="portfolio_link" href="https://note.com/iwayu0125/n/nde4850a1a14a" target="_blank">わたしのトリセツ.ｍｅのｎｏｔｅ</a><br>
  </div>

  <a href="#" class="backToTop">▲ ページトップへ戻る</a>
</div>
