<div class="profile">
  <section class="sectionTitle">
    <h2>プロフィール</h2>
  </section>

  <div class="jikosyoukai">
    <img id="icon-small" src="image/icon_small.jpg" alt="アイコン" />
    <p>
      はじめまして！<br>イワサキ ユカ と申します。<br>
      RUNTEQ という プログラミングスクール で<br class="br-pc" />
      エンジニア を 目指して勉強中 です。<br class="br-pc" />
      よろしくお願いいたします。
    </p>
  </div>
  <div class="status0">
    <div class="status1">
      <p class="status-title">ステータス</p>
      <p>
        前職：営業事務<br>
        年齢：３２さい<br>
        仲間：旦那と二人暮らし<br>
        住んでる場所：関東<br>
        生まれた場所：りんご県<br>
      </p>
    </div>

    <div class="status2">
      <p class="status-title">スキル</p>
      <p>
        New! 応用情報技術者 <br>
        ▶ プログラミング<br>
        ▶ ドット絵<br>
        ▶ エクセル<br>
        ▶ 司書資格(司書経験あり)<br>
      </p>
    </div>
  </div>

  <h3 id="purpose">▶エンジニア を 目指す理由</h3>
  <div class="purpose_article">
    <p>
      前職の営業事務で、エクセル関数を使って<br class="br-pc"/>
      業務を 効率化する ちょっとした ツールを自作したところ、<br class="br-pc"/>
      思いのほか 便利で 周囲にも 喜んでもらえました。
    </p>
    <p>その経験から<br>
      <span style="color: red">「自分の 工夫で 仕事を 効率化できるのって 楽しい!」</span><br class="br-pc"/>
      と感じ、プログラミングに 興味を持ちました。
    </p>
    <p>現在はWebエンジニアを目指して日々学習中です。</p>
  </div>
  <a href="#" class="backToTop">▲ ページトップへ戻る</a>
</div>
