.portfolio_article {
  background-color: var(--nb);
  border-radius: 10px;
  border: 10px solid var(--nb);
  padding: 1rem;
}

.OGP {
  display: block;
  text-align: center;
}

.OGP_img {
  width: 90%;
  max-width: 350px;
}

#on_service:hover {
  transform: translateY(-8px);
}
